$head-footer: #1B2944;
$main-color: #141F35;
$input: #FFBB01;
@mixin placeholder {
    &::-webkit-input-placeholder {
        @content;
    }
    &:-moz-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
}

;
@mixin content-subtitle {
    max-width: 70%;
    font: bold 2.25rem/1.17 "Roboto", sans-serif;
    color: #fff;
}

@mixin content-elem-subtitle {
    max-width: 100%;
    word-wrap: break-word;
    font: bold 1.5rem/1.17 "Roboto", sans-serif;
    color: #fff;
    margin-top: 7%;
}