@import "global";
@import "vars";
@import "header";
@import "features";
.main {
    background-color: $main-color;
    margin: 0;
}

.content-subtitle {
    @include content-subtitle;
    margin-bottom: 85px;
}

.social-links {
    display: flex;
    align-items: center;
    &__item {
        padding-left: 20px;
    }
}

.social-links li:hover {
    opacity: 0.5;
    transition: .4s;
    ;
}