@import "global";
@import "vars";
@import "header";
@import "features";
@import "contacts";
@import "modal";
.main {
    background-color: $main-color;
    margin: 0;
}

.content-subtitle {
    @include content-subtitle;
    margin-bottom: 85px;
    @media screen and (max-width: 520px) {
        font-size: 1rem;
        line-height: 1.1;
        margin-bottom: 60px;
        text-align: center;
        letter-spacing: 2px;
        max-width: 100%;
    }
}

.content-elem-subtitle {
    @include content-elem-subtitle;
    @media screen and (max-width: 520px) {
        font-size: 1.1rem;
        margin-top: 8%;
    }
}

.social-links {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: -20px;
    &__item {
        margin-left: 22px;
    }
}

.social-links li:hover {
    opacity: 0.5;
    transition: .4s;
    ;
}